.card {
  background-color: var(--bg-color-card);
  border-radius: 10px;
  padding: 12px 12px 8px 12px;
  flex: 0 0 calc((25% - 20px));
  max-height: calc(100% - 40px);
  height: fit-content;
  box-sizing: border-box;
}

.title {
  margin: 0 0 15px 0;
  font-size: 18px;
}

.task {
  margin-bottom: 15px;
  padding: 8px;
  width: calc(100% - 16px);
  background-color: var(--bg-color-task);
  border-radius: 5px;
  border: 0;
  font-size: 18px;
  cursor: pointer;
}

.button {
  border: 0;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.add_button {
  background: transparent;
  color: var(--text-color-add);
  display: flex;
  align-items: center;
  gap: 10px;
}

.add_button:hover {
  background-color: var(--bg-color-task);
}

.submit_button {
  background: var(--bg-color-main);
  border: 0;
  border-radius: 5px;
  color: var(--text-color-main);
}

.shown {
  display: block;
}

.hidden {
  display: none;
}

@media screen and (max-width: 1024px) {
  .card {
    flex: 0 0 calc((100% - 24px) / 2);
  }
}

@media screen and (max-width: 600px) {
  .card {
    flex: 0 0 100%;
  }
}
